#blog {
  width: 524px;
  margin-right: $content-margin;
  float: left;

  & > .post {
    & > .video-player {
      padding: 0 12px;
    }

    p {
      img {
        width: 100%;
      }
    }
  }

  .loading {
    text-align: center;
  }
}

.post {
  & > p,
  & > p > p {
    color: rgba(0,0,0,0.5);
    font-size: 13px;
  }
}

.post > hr,
.post-title {
  margin: 0;
}

.post-title {
  & > a {
    color: black;

    &:hover {
    color: gray;
    text-decoration: none;
    }
  }
}

.post-date {
  font-size: 12px;
  color: rgba(0,0,0, 0.3);
  float: right;
}