$photo-column-width: 206px;

$featured-height: 310px;
$insta-height: $photo-column-width;

$media-link-size: 40px;

$media-links-margin: $featured-height + $insta-height;

$brain-circle-margin: $media-links-margin + 12px;

#photo-feed {
  width: $header-height;
  margin-right: $content-margin;
  float: left;

  & > *,
  & > a > img {
    width: 100%;
    margin-bottom: 4px;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.photo-column {
  width: 205px;
  float: left;

  &.ui-scrollfix {
    position: fixed;
    margin-top: -138px;
    margin-left: 682px;
  }

  & > * {
    display: block;
    margin-bottom: $content-margin;
    position: relative;
  }
}

#instagram,
#instagram-hover {
  height: $photo-column-width;
  width: $photo-column-width;
  margin-top: $featured-height;
}

#featured,
#featured-hover {
  height: $featured-height;
  width: $photo-column-width;
}

#media-links {
  top: $media-links-margin + 16px;

  padding-bottom: 16px;

  border-bottom: 1px inset rgba(0, 0, 0, .5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

  & > a {
    display: inline;

    margin-left: 0;
    margin-right: 5px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  & > a {
    &:hover > img {
      opacity: 0.75;
    }

    & > img {
      width: $media-link-size;
      height: $media-link-size;
    }
  }
}

#circle-logo {
  top: $brain-circle-margin;
  height: $photo-column-width;
  width: $photo-column-width;
}