.splash-container {
  position: relative;
  width: 1200px;
  height: 100%;

  margin: auto;
  margin-left: -1px;
  padding: 100px;

  background-image: url('/images/media/installment_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  .ng-view {
    margin: auto;
  }
}

.splash-video {
  display: block;
  margin: auto;

  iframe {
    margin-left: 165px;
  }
}

.splash-body {
  background-color: #000;
}