#content {
  margin: auto;
  width: 1000px;
}

ul {
  -webkit-padding-start: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
}

#header > * {
  float: left;
}

#banner {
  width: 750px;
  height: 118px;
  background-color: #CCC;
  margin: 20px 20px 20px 0;
}

#logo {
  width: 118px;
  height: 118px;
  background-color: #CCC;
  margin: 20px 20px 20px 0;
}

#links {
  height: 118px;
  width: 72px;
  margin: 20px 20px 20px 0;
  list-style-type: none;
}

#links > :first-child {
  margin-top: 14px;
}

#links > :last-child {
  margin-bottom: 14px;
}

#links > li {
  width: 72px;
  height: 18px;
  text-align: right;
}

#links > li > a {
  text-decoration: none;
  font-weight: bold;
  height: 18px;
  font-variant: small-caps;
}

#blog {
  width: 524px;
  margin-right: 20px;
  overflow: hidden;
  float: left;
}

#photo-feed {
  width: 118px;
  margin-right: 20px;
  overflow: hidden;
  float: left;
}

.feed-photo {
  width: 118px;
  margin: 4px 0 4px 0;
}

img.instagram {
  height: 206px;
  width: 206px;
}

img.featured {
  height: 244px;
  width: 206px;
}

.photo-column {
  width: 206px;
  float: left;
}

.photo-column > * {
  clear: both;
  margin-bottom: 20px;
}

.ng-view {
  clear: both;
  margin-left: 92px;
  margin-right: 20px;
}

p > strong {
  margin: 0;
  padding: 0;
  line-height: 0;
}

p, h1, h2, h3, h4, h5, a {
  color: black;
  font-family: Courier New, Courier;
}

a:hover {
  color: gray
}

img.user-icon {
  width: 50px;
}

.nav li a, 
.blog-title {
  padding-top: 0;
  padding-bottom: 0;
  font-variant: small-caps;
  font-weight: bolder;
}

.nav .active li a {
  color: gray;
}

.blog-title hr {
  margin: auto;
  margin-top: 5px;
}

.blog-title small {
  font-weight: bold;
  font-size: 12px;
  color: black;
}

.media .media-body span p {
  font-family: Courier New, Courier;
}

.media .media-body img {
  margin: auto;
}