@import "globals/variables";
@import "media-links";
@import "header";
@import "carousel";
@import "blog";
@import "about";
@import "stockists";
@import "rollover";

html {
  overflow-y: scroll;
} 

body {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

#content {
  margin: auto;
  width: 1000px;
}

#visuals {
  $visual-photo-width: 217px;
  $visual-photo-gap: 4px;

  display: inline-block;
  width: 100%;
  columns: $visual-photo-width;
  column-gap: $visual-photo-gap;

   /* Firefox */
  -moz-columns: $visual-photo-width;
  -moz-column-gap: $visual-photo-gap;
   /* Safari and Chrome */
  -webkit-column-gap: $visual-photo-gap;
  -webkit-columns: $visual-photo-width;

  & > a {
    & > img {
      width: $visual-photo-width;
      margin: $visual-photo-gap auto 0 auto;
    }
  }
}

.loading {
  text-align: center;
}

#project {
  width: $blog-width;
  height: $blog-photo-height;

  & > img {
    width: $blog-width;
    height: $blog-photo-height;
    margin: auto;
  }

  &:after {
    clear: both;
    display: table;
  }
}

ul.projects {
  margin-top: 5px;
  margin-bottom: $content-margin;
}

li.project {
  display: inline;
  list-style-type: none;
}

.item {
  p {
    margin: -1px 0;
  }
}

img.project-img {
  width: $blog-width;
  height: $blog-photo-height;
}

.ng-view {
  margin-left: 92px;
  margin-right: $content-margin;
  overflow: hidden;
  clear: both;

  &:after{
    display: table;
    clear: both;
  }
}

.fancybox-outer > .fancybox-inner > img {
  overflow-y: hidden;
}

ul {
  margin-top: 18px;
  -webkit-padding-start: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
}

p > strong {
  margin: 0;
  padding: 0;
  line-height: 0;
}

p, h1, h2, h3, h4, h5, a {
  color: black;
  font-family: Courier New, Courier;
}

#visuals,
#photo-feed {
  & > a {
    &:hover {
      opacity: 0.9;
      filter:Alpha(opacity=90);
    }
  }
}