@import "mixins";

html, 
body {
  padding: 0;
  margin: 0;
}

.ui-scrollfix {
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#content {
  margin: auto;
  width: 1000px;
}

#header {
  @extend .stretch;
  @include flex-direction(row);
  @include justify-content(center);
  margin: 20px;
}

#banner {
  width: 750px;
  height: 118px;
  margin-right: 20px;
}

#logo {
  width: 118px;
  height: 118px;
  margin-right: 20px;
}

#links {
  height: 118px;
  width: 72px;
  margin-right: 20px;
  list-style-type: none;
}

#links > :first-child {
  margin-top: 14px;
}

#links > :last-child {
  margin-bottom: 14px;
}

#links > li {
  width: 72px;
  height: 18px;
  text-align: right;
}

#links > li > a {
  text-decoration: none;
  font-weight: bold;
  height: 18px;
  font-variant: small-caps;
}

.stretch {
  @include display-flex;
  @include align-items(stretch);
}

.ng-view {
  @extend .stretch;
  @include justify-content(center);
  margin-left: 92px;
  margin-right: 20px;
  clear: both;
}

.stockist {
  width: 207px;
  height: 155px;
  background-color: black;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
}

.stockist:nth-child(odd) {
  background-color: gray;
}

#blog {
  @extend .stretch;
  @include justify-content(flex-start);
  @include flex-direction(column);
  width: 524px;
  margin-right: 20px;
}

#photo-feed {
  width: 118px;
  margin-right: 20px;
}

#photo-feed > ::last-child {
  margin: 0;
}

.photo-column {
  width: 206px;
}

.photo-column > * {
  margin-bottom: 20px;
}

.feed-photo {
  width: 118px;
  margin: 4px 0 4px 0;
}

ul {
  margin-top: 18px;
  -webkit-padding-start: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
}

img.instagram {
  height: 206px;
  width: 206px;
}

img.featured {
  height: 244px;
  width: 206px;
}

p > strong {
  margin: 0;
  padding: 0;
  line-height: 0;
}

p, h1, h2, h3, h4, h5, a {
  color: black;
  font-family: Courier New, Courier;
}

a:hover {
  color: gray
}

img.user-icon {
  width: 50px;
}

.nav li a, 
.blog-title {
  padding-top: 0;
  padding-bottom: 0;
  font-variant: small-caps;
  font-weight: bolder;
}

.nav .active li a {
  color: gray;
}

.blog-title hr {
  margin: auto;
  margin-top: 5px;
}

.blog-title small {
  font-weight: bold;
  font-size: 12px;
  color: black;
}

.media .media-body span p {
  font-family: Courier New, Courier;
}

.media .media-body img {
  margin: auto;
}