<ul id="links">
  <li>
    <a href="#project">project</a>
  </li>
  <li>
    <a href="#visual">visual</a>
  </li>
  <li>
    <a href="#stockists">stockists</a>
  </li>
  <li>
    <a href="#about">about</a>
  </li>
  <li>
    <a href="//store.castequality.com">store</a>
  </li>
</ul>
<div id="logo">
  <a class="rollover" href="#">
    <img src="images/media/logo-hover.jpg">
    <img class="hover" src="images/media/logo.jpg">
  </a>
</div>
<div id="banner">
  <a class="rollover" href="#project?media">
    <img src="images/media/phil-experiment-hover.jpg">
    <img class="hover" src="images/media/phil-experiment.jpg">
  </a>
</div>