<ul id="links">
  <li>
    <a href="#project">project</a>
  </li>
  <li>
    <a href="#visual">visual</a>
  </li>
  <li>
    <a href="#stockists">stockists</a>
  </li>
  <li>
    <a href="#about">about</a>
  </li>
  <li>
    <a href="mailto: info@castequality.com">contact</a>
  </li>
</ul>
<object id="logo" data="images/logo.svg" type="image/svg+xml"></object>
<div id="banner">
  <a href="#project?media">
    <img src="images/media/hover-phil-experiment_750x118.jpg">
  </a>
  <a class="rollover"  href="#project?media">
    <img src="images/media/phil-experiment_750x118.jpg">
  </a>
</div>