<div id="photo-feed">
  <a ng-repeat="photo in feed" href="{{photo.alt_sizes[1].url}}" ui-jq="fancybox" rel="visuals">
    <img ng-src="{{photo.alt_sizes[1].url}}">
  </a>
</div>
<div id="blog">
  <div ng-repeat="post in posts" class="post">
    <hr>
    <h4 class="post-title">
      <a ng-href="{{post.post_url}}">{{post.title}}</a>
      <span class="muted post-date">{{post.timestamp * 1000 | date:'longDate' | uppercase}}</span>
    </h4>
    <p ng-show="post.player" class="video-player" ng-bind-html-unsafe="post.player[2].embed_code"/>
    <p ng-bind-html-unsafe="post.body || post.caption"/>
  </div>
</div>
<div class="photo-column" ui-scrollfix="138">
  <a ng-href="//castequality.bigcartel.com{{store.featured.url}}">
    <img id="featured" ng-src="{{store.featured.images[0].url}}" alt="{{store.featured.description}}">
    <h3>store</h3>
  </a>
  <a href="//instagram.com/castequality">
    <img id="instagram" ng-src="{{gram.images.standard_resolution.url}}" alt="{{gram.caption}}">
    <h3>instagram</h3>
  </a>
</div>