<div id="photo-feed">
  <a ng-repeat="photo in feed" href="{{photo.alt_sizes[1].url}}" ui-jq="fancybox" rel="visuals">
    <img ng-src="{{photo.alt_sizes[1].url}}">
  </a>
</div>
<div id="blog">
  <div ng-repeat="post in posts" class="post">
    <hr>
    <h4 class="post-title">
      <span>{{post.title}}</span>
      <span class="muted post-date">{{post.timestamp * 1000 | date:'longDate' | uppercase}}</span>
    </h4>
    <p ng-show="post.player" class="video-player" ng-bind-html-unsafe="post.player[2].embed_code"/>
    <p ng-bind-html-unsafe="post.body || post.caption"/>
    <img ng-repeat="photo in post.photos" ng-src="{{photo.alt_sizes[0].url}}">
  </div>
</div>
<div class="photo-column" ui-scrollfix="138">
  <a class="rollover" ng-href="//store.castequality.com" target="_blank">
    <img id="featured-hover" src="images/media/store.jpg">
    <img id="featured" class="hover" ng-src="{{store.featured.images[0].url}}" alt="{{store.featured.description}}">
  </a>
  <a class="rollover" href="//instagram.com/castequality" target="_blank">
    <img id="instagram-hover" src="images/media/insta.jpg">
    <img id="instagram" class="hover" ng-src="{{gram.images.standard_resolution.url}}" alt="{{gram.caption}}">
  </a>
</div>