<div ng-repeat="project in projects" class="media">
  <div class="media-body">
    <h4 class="media-heading blog-title">
      <hr>
      <a ng-href="{{project.post_url}}">{{project.title}}</a>
      <small class="pull-right">{{project.timestamp * 1000 | date:'longDate' | uppercase}}</small>
    </h4>
    <span ng-bind-html-unsafe="project.caption"/>
    <div ui-jq="carousel" id="{{project.id}}" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item" ng-class="{active: $first}" ng-repeat="p in project.photos">
          <img ng-src="{{p.alt_sizes[0].url}}"/>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" ng-href="#{{project.id}}" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" ng-href="#{{project.id}}" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>